
Proyecto/.idea/

Proyecto/__pycache__/

Proyecto/Communication/__pycache__/

Proyecto/CPU/__pycache__/

Proyecto/Enums/__pycache__/

*.log

Proyecto/Cache/__pycache__/

Proyecto/Timing/__pycache__/

Proyecto/Interface/__pycache__/
